
<h2 id="productosTitulo">Productos:</h2>
<div id="tablaProductos">
    {{#if productos.length}}
        {{#each productos}}
        <div class="productos">
            <img src='{{ this.imagen }}' alt='{{ this.titulo }}' class="productosImagen">
            <div class="infoProds">
                <h4 class='productosTitulo'> {{ this.titulo }} </h4>
                <h4 class='productosPrecio'> $ {{ this.precio }} </h4>
            </div>
        </div>
        {{/each}}
    {{else}}
        <p id="productosVacios">No se encuentra ningun producto</p>
    {{/if}}
</div>




////////////////////////////////////////////////////////





<h3>Lista de Productos</h3>
<div>
    {{#if products.length}}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td><img width="48" src={{this.thumbnail}} alt="image"></td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <div>
        No hay productos
    </div>
    {{/if}}
</div>