
<h2 id="productosTitulo">Productos:</h2>
<div id="tablaProductos">
    {{#if productos.length}}
        {{#each productos}}
            <div class="productos">
                <img src='{{ this.imagen }}' alt='{{ this.titulo }}' class="productosImagen">
                <div class="infoProds">
                    <h4 class='productosTitulo'> {{ this.titulo }} </h4>
                    <h4 class='productosPrecio'> $ {{ this.precio }} </h4>
                </div>
            </div>
        {{/each}}
    {{/if}}
    {{else}}
        <p id="productosVacios">No se encuentra ningun producto</p>
    {{/else}}
</div>




